@verdeOscuro: #003C00;
@verdeClaro: #76b900;

.animacionGiro() {
    animation-name: giro;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes giro {
        12.5% {
            transform: scale(0.9, 0.9) rotate(45deg);
        }
        25% {
            transform: scale(0.8, 0.8) rotate(90deg);
        }
        37.5% {
            transform: scale(0.9, 0.9) rotate(135deg);
        }
        50% {
            transform: scale(1, 1) rotate(180deg);
        }
        62.5% {
            transform: scale(0.9, 0.9) rotate(225deg);
        }
        75% {
            transform: scale(0.8, 0.8) rotate(270deg);
        }
        87.5% {
            transform: scale(0.9, 0.9) rotate(315deg);
        }
        100% {
            transform: scale(1, 1) rotate(360deg);
        }
    }
}

.animacionColor(@direction) {
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: @direction;

    @keyframes color {
        0% {color: @verdeClaro;}
        100% {color: white;}
        //100% {color: @verdeClaro;}
    }
}

@font-face {
    font-family: "zekton";
    src: url('../fonts/Zekton/zekton.ttf');
}

.animacionBanner() {
    animation-name: cambioFotos;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes cambioFotos {
        0% {
            transform: translateY(0);
        }
        12.5% {
            transform: translateY(0);
        }
        25% {
            transform: translateX(-960px);
        }
        37.5% {
            transform: translateX(-960px);
        }
        50% {
            transform: translateX(-960px) translateY(-25em);
        }
        62.5% {
            transform: translateX(-960px) translateY(-25em);
        }
        75% {
            transform: translateY(-25em);
        }
        87.5% {
            transform: translateY(-25em);
        }
    }
}

@media screen {

    body {
        background-color: #363636;

        * {
                outline: none;
        }
    }

    main {
           margin: 0 auto;
           min-width: 960px;
           max-width: 960px;
           font-family: "zekton";
    }

    .cabecera   {
            float: left;
            display: block;
            margin: 0 auto;
            margin-bottom: 1em;
            margin-top: 1em;
            cursor: default;
            width: 960px;
            height: 115px;
            background: linear-gradient(to right, rgb(0,60,0) 0%, rgb(0,60,0) 35%, rgb(0,0,0) 100%);
            background: rgb(0,60,0);
            border-radius: 0.4em;
            .logo  {
                float: left;
                position: relative;
                top: 0.2em;
                left: 1em;
            }
            .titulo {
                padding-left: 0.55em;
                font-size: 5.8em;
                font-weight: bold;
                display: inline-block;
            }

            .titulo2 {
                font-size: 5.8em;
                color: white;
            }

            .login  {
                display: inline-block;
                position: relative;
                float: right;
                top: 1em;
                margin-top: 0.5em;
                margin-right: 0;
                padding-left: 0;
            }

            .user_img {
                    width: 5em;
                    margin-right: 0.3em;
                    margin-left: 0.3em;
                    float: left;
            }

            .login > .boton {
                    width: 50%;
                    float: left;
            }

            .login > .boton + .boton {
                margin-top: 0.2em;
            }
    }

    nav.menu {
        float: left;
        width: 960px;
        height: 1.8em;
        background-color: @verdeOscuro;
        font-size: 1.5em;
        border-radius: 0.2em;
        margin-bottom: 1em;
        ul > li  {
            float: left;
            width: 18%;
            margin-left: 0.5em;
            text-align: center;
            padding-top: 0.2em;
            a {
                vertical-align: middle;
            }
            div {
                width: 100%;
                position: relative;
                input {
                    border-radius: 0.4em;
                    width: 100%;
                    height: 1.5em;
                }
                img {
                    width: 0.67em;
                    position: absolute;
                    left: 6.7em;
                    top: 0.35em;
                    cursor: pointer;
                }
            }
        }
    }

    h1  {
        font-size: 6em;
        margin-left: 1em;
        margin-right: 1em;
    }

    section.ofertas{
        background-color: 
    }

    .cuerpo {
        position: relative;
        display: block;
        clear: both;

        .autopromo  {
            margin-top: 1em;
            height: 25em;
            display: block;
            clear: both;
            background-color: @verdeOscuro;
            div {
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                overflow: hidden;

                img {
                    position: absolute;
                    width: 960px;
                    height: 25em;
                    .animacionBanner();
                    &#gta {
                        left: 960px;
                    }
                    &#monkey {
                        left: 960px;
                        top: 25em;
                    }
                    &#isaac {
                        top: 25em;
                    }
                }
            }
        }
        .categorias {
            background-color: gray;
            margin-top: 1em;
            li {
                width: 30%;
                height: 30%;
                display: inline-block;
                padding: 0.9em;
                h4 {
                    text-align: center;
                    background-color: @verdeOscuro;
                    height: 2em;
                    padding-top: 0.5em;
                    cursor: pointer;
                }
            }
            img {
                cursor: pointer;
                width: 100%;
            }
        }
        .error {
            img {
                width: 960px;
            }
        }
        .registro{
            display: block;
            clear: both;
            background-color: @verdeOscuro;
            text-align: center;
            height: 30em;

            .modalWindow {
                position: relative;
                display: inline-block;
                overflow: visible;
                z-index: 12;
                opacity: 0.4;
                font-size: 2em;
                background-color: @verdeClaro;
                color: @verdeOscuro;
            }

            h1 {
                font-size: 2em;
                margin: 0.5em;
            }

            form {
                display: block;
                clear: both;
                ul {
                    background-color: @verdeOscuro;
                    li {
                        height: 2.5em;

                        input {
                            color: @verdeOscuro;
                            height: 1.5em;
                            width: 17em;
                            text-align: center;
                            border: 1px solid @verdeClaro;
                            border-radius: 0.4em;
                        }
                        img {
                            width: 0.5em;
                            height: 0.5em;
                        }

                        .required {
                            position: relative;
                            background: white url(../img/icons/required.png) no-repeat 98%;
                            background-size:  0.8em 0.8em;
                        }

                        .valid {
                            background-color: @valid;
                            border: 3px solid DarkGreen;
                            border-radius: 0.4em;
                            color: black;
                        }

                        .reset {
                            color: @verdeOscuro;
                            text-align: center;
                            background-color: white;
                            border: 1px solid @verdeClaro;
                            border-radius: 0.4em;
                        }

                        .invalid {
                            background-color: @invalid;
                            border: 3px solid DarkRed;
                            border-radius: 0.4em;
                            color: white;
                        }
                    }
                    select {
                        position: relative;
                        text-align: center;
                        left: 5em;
                        color: @verdeClaro;
                        background-color: @verdeOscuro;
                        border: 3px solid @verdeClaro;

                        option {
                            color: @verdeClaro;
                            background-color: @verdeOscuro;
                        }
                    }
                }
                .izq {
                    width: 44.5%;
                    position: relative;
                    display: inline-block;
                    font-size: 1em;
                    float: left;
                    line-height: 1.55em;
                    text-align: right;
                }
                .dcha {
                    width: 54.5%;
                    position: relative;
                    display: inline-block;
                    float: right;
                    position: relative;
                    text-align: left;
                }
                .resto {
                    display: block;
                    clear: both;
                }
            }
        }
    }

    .boton {
        height: 2em;
        background-color: @verdeClaro;
        color: @verdeOscuro;
        border-color: @verdeOscuro;
        font-family: "zekton";
        font-size: 1em;
        border-radius: 0.4em;
        cursor: pointer;
    }

    /*#videoBox {
            display: block;
            width: 960px;
            margin: 0 auto;
            text-align: center;
            background-color: #808080;
            padding-top: 1em;
            margin-top: 1em;
            video {
                display: block;
                padding-top: 1em;
                padding-bottom: 0.5em;
                height: 18em;
                margin: 0 auto;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
            input#bar {
                margin: 0 auto;
                width: 300px;
                border-radius: 10px;
                &:focus {
                    outline: none;
                }
            }
            #controles {
                padding-top: 0.5em;
                display: block;
                text-align: center;

                img {
                    background-image: url('../img/icons/Controles_multimedia.png');
                    height: 50px;
                    cursor: pointer;
                    width: 50px;
                    display: inline-block;
                    border-radius: 8px;
                    margin: 0.5em;
                    &:focus {
                        outline: none;
                    }
                }

                #play {
                    background-position: 0;
                }

                #volup {
                    background-position: -8.6em;
                }

                #voldown {
                    background-position: -12.95em;
                }
            }
        }*/

    .rrss {
        display: block;
        clear: both;
        position: relative;
        ul {
            li {
                float: left;
                background-color: gray;
                margin-top: 1em;
                margin-bottom: 1em;
                width: 14.286%;
                div {
                    height: 1.17em;
                    text-align: center;
                    background-image: url('../img/icons/iconos.svg');
                }
                .xbox {
                    background-position: 3.5em 0.03em;
                }

                .steam {
                    background-position: 3.5em -4.62em;
                }

                .reddit {
                    background-position: 3.5em -3.46em;
                }

                .google {
                    background-position: 3.5em -5.77em;
                }

                .twitter {
                    background-position: 3.5em -2.3em;
                }

                .facebook {
                    background-position: 3.5em -6.9em;
                }

                .youtube {
                    background-position: 3.5em -1.131em;
                }
            }
        }
    }


    .condiciones {
        width: 101%;
        ul > li {
            text-align: center;
            float: left;
            width: 33%;
            height: 1.4em;
            background-color: gray;
            img {
                height: 1em;
                padding: 0.1em;
                cursor: pointer;
            }
            span {
                text-align: center;
                cursor: pointer;
                color: @verdeOscuro;
            }
        }
    }
    .copyright {
        text-align: center;
        color: @verdeClaro;
        padding-top: 0.2em;
        cursor: default;
    }
}